/**
 *
 */

/ {
  keymap {
    compatible = "zmk,keymap";

	test_layer {
		label = "SCROLL";
		bindings = <
//	╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
	XXXXXXXX		XXXXXXXX    	XXXXXXXX		XXXXXXXX		XXXXXXXX			XXXXXXXX        XXXXXXXX     	XXXXXXXX        XXXXXXXX        XXXXXXXX
//	├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
	XXXXXXXX		XXXXXXXX    	XXXXXXXX		XXXXXXXX		XXXXXXXX			XXXXXXXX        XXXXXXXX     	XXXXXXXX        XXXXXXXX        XXXXXXXX
//	├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
	XXXXXXXX		XXXXXXXX    	XXXXXXXX		XXXXXXXX		XXXXXXXX			XXXXXXXX        XXXXXXXX     	XXXXXXXX        XXXXXXXX        XXXXXXXX
//	╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────╯
	       							________		________        ________           	________		________
//                                                  ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
			>;
		};
	};
};
