/**
 *
 */

/ {
  keymap {
    compatible = "zmk,keymap";

	snipe_layer {
		label = "Snipe";
		bindings = <
//	╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮   ╭───────────────┬───────────────┬───────────────┬───────────────┬───────────────╮
	XXXXXXXX		XXXXXXXX    	XXXXXXXX		XXXXXXXX		XXXXXXXX			XXXXXXXX        XXXXXXXX     	XXXXXXXX        XXXXXXXX        XXXXXXXX
//	├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
	&kp LCTRL		&kp LGUI    	&kp LALT		&kp LSHFT		XXXXXXXX			&mkp MB4        &mkp LCLK     	&mkp RCLK        &mkp MCLK      &mkp MB5
//	├───────────────┼───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┼───────────────┤
	XXXXXXXX		XXXXXXXX    	XXXXXXXX		XXXXXXXX		XXXXXXXX            XXXXXXXX        XXXXXXXX     	XXXXXXXX        XXXXXXXX        XXXXXXXX 
//	╰───────────────┴───────────────┼───────────────┼───────────────┼───────────────┤   ├───────────────├───────────────┼───────────────┼───────────────┴───────────────╯
	       							________		XXXXXXXX        XXXXXXXX           	________		XXXXXXXX
//                                                  ╰───────────────┴───────────────╯   ╰───────────────┴───────────────╯
			>;
		};
	};
};
